* {
  font-family:'Oswald' !important;
  /* font-family:'Fira Sans Condensed' !important; */
  /* font-family:'Ubuntu' !important; */
  /* font-family:'Shanti' !important; */
  /* font-family:'Ubuntu Condensed' !important; */
}

.App {
  text-align: center;
  margin-bottom: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .set-accordion {
  margin-left: auto !important;
  margin-right: 0 !important;
} */

.accordion-div {
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
  max-width: 90%;
  justify-content: center;
  vertical-align: top !important;
}

/* .checkbox-all-container {
  border-style:solid;
} */

.options-list {
  width: 420px;
  max-width: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.results-container {
  width: 420px;
  
  margin-left: auto !important;
  margin-right: auto !important;
}